<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My World Travelling Page</title>
	<style>
		body{
			margin: 0px;
			padding: 0px;
			background-image: url('images/travel1.jpg');
		}
	
          .left {
	        padding: 10px 10px;
			border:2px solid blueviolet;
		  }	
		.mid{
			padding: 10px 10px;
			border:2px solid blueviolet;
		}
		.right{    
			padding: 10px 10px; 
			border:2px solid blueviolet;
		}
		.left img{
			width:20px;
			margin:20px 20px;
		}
	</style>
</head>
<body>
	<div class="navbar">
		     <div class="left">
				<img src="images/lobo.jpg" alt="">
                   
			 </div>
			 <div class="mid">
				mid block
			</div>
			<div class="right">
				right block
			</div>


	</div>
</body>
</html>