<body style="background-color: pink;">
    {% include  "./Header.html"%}
    
    <br>
    <br>
    <br>
    
    <div class="container" >
        <div class="row">
           <div class="col-sm-4"></div>
    
            <div class="col-sm-4" >
                <div class="card" style="background-color: tomato">
                    <div class="card-header ">
                        <h2 class="modal-title" style="padding-left: 100px; font-family: bold; font-size: xx-large">LogIn</h2>
                    </div>
                    
                    <div class="card-body">
                        <div class="container">
                                <!-- <div class="col-md-4"></div> -->
    
                            <p style="color: red;"> {{form.message}}</p>
    
                            <form method="POST" novalidate>
                                <fieldset>
                                    <div class="form-group-row">
                                        
                                        <label class="col-md-4 control-label">Login </label>
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                <input name="login_id" value="{{form.login_id}}" class="form-control" type="email" placeholder="Enter your Id">
                                                <span style="color: red;"> {{form.inputError.login_id}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-row">
                                        <label class="col-md-12 control-label">Password</label>
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                <input name="password" value="{{form.password}}" class="form-control"
                                                    type="password" id="password" required class="form-control" placeholder="Enter Your Password">
                                                <span style="color: red;"> {{form.inputError.password}} </span>
    
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <label class="col-md-1 control-label"></label>
                                        <div class="col-md-2">
                                            <button type="submit" value="SingnIn" class="btn btn-primary">Login
                                                <span class="fas fa-paper-plane"></span>
                                            </button>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                                <a class="btn btn-primary" href="/ORS/Registration">SignUp<span class="fas fa-paper-restore"></span></a>
                                                
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                            <a href="/ORS/ForgetPassword">forgot Password</a>
                                        <div class="col-md-4"></div>
    
    
                                    </div>
                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
    
        </div>        
    </div>
    
    <div class="col-md-4"></div>
    <!-- <div class="img2">
    
    </div> -->
    </body>
    {% include  "./Footer.html"%}