{% include  "./Header.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body style="background-color: rgb(79, 224, 135);">
<div class="container">
    <div>
        <H2>Role</H2>
    </div>
    <form method="POST">
        <div class="form-group row">
            <div class="col-lg-3">
                <input class="form-control" name="name" value="{{form.name}}" placeholder="enter role name">
            </div>
            <div class="col-lg-3">
                <input class="form-control" name="description" value="{{form.description}}" placeholder="enter role description">
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary">Search
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="offset-lg-4"> <a href="/ORS/Role">
                    <font class="btn btn-success" data-target="#update" data-toggle="modal">Add
                        <i class="fas fa-plus-circle"></i>
                    </font>
                </a>
            </div>
        </div>
    </form>


    <table border="1" width="50%">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-bordered table-hover table-responsive-sm">
                <thead class="thead-dark">
                    <th scope="row">#</th>
                    <th scope="row">Role
                    </th>
                    <th scope="row">Description
                    </th>
                    <th scope="row">EDIT</th>
                    <th scope="row">DELETE</th>
                </thead>
                <tbody>
                    {% for e in pageList %}

                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.description}}</td>
                        <td><a href="/ORS/Role/edit/{{e.id}}">
                                <font data-target="#update" data-toggle="modal">
                                    <i>Edit</i>
                                </font>
                            </a>
                        </td>
                        <td>
                                    <a href="/ORS/MarksheetList/delete/{{e.id}}">Delete
                                    <i>
                                    </i>
                                    </a>
                                </td>
                                
                    <tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>    
</html>
{% include  "./Footer.html"%}        