<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        txt=""
    $('#select_all').on('click',function(){
        if(this.checked){
            $('.checkbox').each(function(){
                this.checked = true;
                txt=$(this).val();
            });
        }else{
             $('.checkbox').each(function(){
                this.checked = false;
                txt=$(this).val();
            });
        }
    });
    $('.checkbox').on('click',function()
    {
        if($('.checkbox:checked').length == $('.checkbox').length){
            $('#select_all').prop('checked',true);
            txt=$(this).val();

        }else{
            $('#select_all').prop('checked',false);
            txt=$(this).val();
        }
    });
    $('#ids').val(txt)
});
</script>

{% include  "./Header.html"%}
<body style="background-color: rgb(79, 224, 135);">
<br>
<div class="container-fluid">
    <form method="POST">
        <div>
            <H2>User List</H2>
        </div>
        <div class="form-group row">

            <div class="col-lg-2">
                <input class="form-control" name="firstName" value="{{form.firstName}}" placeholder="First Name">
            </div>
            <div class="col-lg-2">
                <input class="form-control" name="login" value="{{form.login}}" placeholder="Login">
            </div>
            <div class="col-lg-2">
                <input class="form-control" name="mobileNumber" value="{{form.mobileNumber}}" placeholder="Mobile">
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary" type="submit">Search
                    <i class="fas fa-search"></i>
                </button>
            </div>
   
    <div class="offset-lg-4">
        <a href="/ORS/User">
            <font class="btn btn-success " data-target="#update" data-toggle="modal">ADD<i class="fas fa-plus-circle"></i></font>
            
        </a>
    </div>
</div>

<table border="1" width="50%">
<div class="row">
    <div class="col-md-12">
        <table class="table table-sm table-bordered table-hover table-responsive-sm">
            <thead class="thead-dark">
                <th><input type="checkbox" id="select_all"
                 onchange="selectAll(this)">Select All</th>
                <th scope="row">#</th>
                <th scope="row">FIRST_NAME
                </th>
                <th scope="row">LAST_NAME
                </th>
                <th scope="row">LOGIN
                </th>
                <th scope="row">PASSWORD
                </th>
                <th scope="row">CONFIRM PASSWORD
                </th>

                <th scope="row">DATE_OF_BIRTH
                </th>
                <!-- <th scope="row">ROLE_ID
                </th> -->
                <th scope="row">ROLE_NAME
                </th>
                <th scope="row">ADDRESS
                </th>
                <th scope="row">GENDER
                </th>
                <th scope="row">MOBILE_NO
                </th>
                <th scope="row">EDIT
                </th>
                <!-- <th scope="row">DELETE
                </th>  -->
                <!-- <th scope="row">ROLE_ID -->
                <!-- </th> -->
                <!-- <th scope="row">GENDER
                </th> -->
                <!-- <th scope="row">EDIT</th> -->

            </thead>
            <tbody>
                {% for e in pageList %}
                <td><input type="checkbox" name="ids" class="checkbox"
                onchange="selectone(this)"  value="{{e.id}}"></td>

                <td>{{e.id}}</td>
                <td>{{e.firstName}}</td>
                <td>{{e.lastName}}</td>
                <td>{{e.login_id}}</td>
                <td>{{e.password}}</td>
                <td>{{e.confirmpassword}}</td>
                <td>{{e.dob}}</td>
                <!-- <td>{{e.role_ID}}</td> -->
                <td>{{e.role_Name}}</td>
                <td>{{e.address}}</td>
                <td>{{e.gender}}</td>
                <td>{{e.mobilenumber}}</td>
                <!-- <td>{{e.role_ID}}</td> -->
                <!-- <td>{{e.gender}}</td> -->
                <td>
                    <a href="/ORS/User/edit/{{e.id}}">Edit
                        <i class="fas fa-edit">
                        </i>
                    </a>
                </td>
                <!-- <td>
                    <a href="/ORS/UserList/delete/{{e.id}}">Delete
                    <i class="fas fa-edit">
                    </i>
                    </a>
                </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <input type="submit" name="operation" value="Delete">
        <td>
                <a href="/ORS/UserList/delete/{{e.ids}}">Delete
                    <i class="fas fa-trash">
                    </i>
                </a>
            </td>     

        </form>
</body>
    {% include  "./Footer.html"%}