


<body style="background-color: tomato;">
{% include  "./Header.html"%}
<div class="container">

            
    

    <div class="d-flex" style="margin-top: 15%">
        <div class="mx-auto">
            <p>
                <h1><mark style="background-color: yellowgreen;font-style: oblique;">Welcome to "ONLINE RESULT SYSTEM"</mark></h1>
            </p>
            <h6 ><span style="color: yellow;font-size: x-large;font-style: italic;">{{form.message}}</span></h6>

        </div>
    </div>
    
</div>

</body>
{% include  "./Footer.html"%}
